<div id="account-settings-modal" class="hidden">
    <div id="account-settings-container" class="dialog-container">
        <h3>Account Settings</h3>
        <div id="account-settings-section">
            <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="account-settings-progress-indicator progress-indicator hidden" />
            <fieldset>
                <p>getting there, but this section is not complete</p>
                <input type="button" value="Submit" id="account-settings-submit" class="action-button" />
            </fieldset>
        </div>
    </div>

</div>
