@model Glav.PayMeBack.Core.Domain.DebtSummary
@using Glav.PayMeBack.Web.Helpers;

@using Glav.PayMeBack.Core.Domain;
@{
    int rowCount = 0;
    string alternatingRowStyle = null;
}

<h2>Summary of Debts</h2>

<h3>Debts that are owed to you</h3>
<div data-ng-controller="summaryController">
    <div id="debts-owed-to-me" class="debt-section">

        <div data-ng-show="IsInProgress == true" class="progress-indicator">
            <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" />
            <span>Updating ....</span>
        </div>
        <h4 data-ng-show="debts.TotalAmountOwedToYou > 0">Total Amount owed to you: <span class="total-owed-amount">{{debts.TotalAmountOwedToYou | currency}}</span></h4>

        <h4 data-ng-show="debts.TotalAmountOwedToYou == 0">None</h4>

        <table id="debt-summary-owed" class="debt-summary-table" data-ng-show="debts.TotalAmountOwedToYou > 0 && IsInProgress != true">
            <thead>
                <tr>
                    <th colspan="3"></th>
                    <th></th>
                    @*Dummy column to bind dialogs to*@
                    <th class="col-hdr-who">Who</th>
                    <th class="col-hdr-amt">Amount</th>
                    <th class="col-hdr-started">Started</th>
                    <th class="col-hdr-last-paid-amt">Last Paid</th>
                    <th class="col-hdr-last-paid-date" colspan="2">Last Date of Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="debt in debts.DebtsOwedToYou" data-debt-id="{{debt.Id}}" data-ng-class-odd="'odd'" data-ng-class-even="'even'" data-ng-click="editDebt(debt.Id)" class="debt-item-row">
                    <td class="action-icon action-delete" data-ng-click="deleteDebt(debt.Id, $event)" title="Delete"></td>
                    <td class="action-icon action-add-payment" add-payment="{{debt.Id}}" title="Add Payment"></td>
                    <td class="action-icon action-edit-notification" data-ng-click="editNotification(debt.Id, $event)" title="Edit Notification Options"></td>
                    <td class="action-dialog"></td>
                    <td class="col-who">{{debt.UserWhoOwesDebt.EmailAddress}}</td>
                    <td class="col-amt">{{debt.AmountOwing | currency:"$"}}</td>
                    <td class="col-started">{{debt.StartDate | date:'dd MMM yyyy'}}</td>
                    <td class="col-last-paid-amt">{{debt.LastAmountPaid | currency:"$"}}</td>
                    <td class="col-last-paid-date">{{debt.LastPaymentDate | date:'dd MMM yyyy'}}</td>

                </tr>
            </tbody>
        </table>

    </div>

    <h3>Debts that you owe to others</h3>
    <div id="debts-owed-to-others" class="debt-section">
        <h4 data-ng-show="debts.TotalAmountYouOwe > 0">Total Amount owed by you: <span class="total-owed-amount">{{debts.TotalAmountYouOwe | currency:"$"}}</span></h4>

        <h4 data-ng-show="debts.TotalAmountYouOwe == 0">None</h4>

        <table id="debt-summary-owed" class="debt-summary-table" data-ng-show="debts.TotalAmountYouOwe > 0">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th></th>
                    @*Dummy column to bind dialogs to*@
                    <th class="col-hdr-who">Who</th>
                    <th class="col-hdr-amt">Amount</th>
                    <th class="col-hdr-started">Started</th>
                    <th class="col-hdr-last-paid-amt">Last Paid</th>
                    <th class="col-hdr-last-paid-date" colspan="2">Last Date of Payment</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="debt in debts.DebtsYouOwe" data-debt-id="{{debt.Id}}" data-ng-class-odd="'odd'" data-ng-class-even="'even'" class="debt-item-row">
                    <td></td>
                    <td></td>
                    <td class="action-dialog"></td>
                    <td class="col-who">{{debt.UserWhoOwesDebt.EmailAddress}}</td>
                    <td class="col-amt">{{debt.AmountOwing | currency:"$"}}</td>
                    <td class="col-started">{{debt.StartDate | date:'dd MMM yyyy'}}</td>
                    <td class="col-last-paid-amt">{{debt.LastAmountPaid | currency:"$"}}</td>
                    <td class="col-last-paid-date">{{debt.LastPaymentDate | date:'dd MMM yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    @Html.Partial("_NotificationOptions", new Glav.PayMeBack.Core.Domain.NotificationOptions())
    @Html.Partial("_EditDebt")

    
</div>
