<div id="notification-options-modal" class="hidden">
    <div id="notification-options-container" class="dialog-container">
        <h3>Notification Options</h3>
        <div id="notification-options-section">
            <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="notification-options-progress-indicator progress-indicator hidden" />
            <fieldset>
                <p>getting there, but this section is not complete</p>
                <input type="button" value="Submit" id="notification-options-submit" class="action-button" />
            </fieldset>
        </div>
    </div>

</div>
