@model Glav.PayMeBack.Core.Domain.NotificationOptions

@using Glav.PayMeBack.Core.Domain

<div id="notification-options-modal" class="hidden">
    <div id="notification-options-container" class="dialog-container" data-ng-controller="notificationOptionsController">
        <h3>Notification Options</h3>
        <div id="notification-options-section">
            <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="notification-options-progress-indicator progress-indicator hidden" />
            <form data-ng-submit="submitOptionsForm()">
                <fieldset>
                    <ul>
                        <li>
                            <label for="debt-notification-method">Method</label>
                            <select id="debt-notification-method" name="debtNotificationMethod" data-ng-model="notifyOptions.NotificationMethod" data-ng-options="p.value as p.label for p in notificationOptions">
                            </select>
                        </li>
                        <li class="notification-email-option">
                            <label for="debt-notification-email">Email Address:</label>
                            <input type="text" id="debt-notification-email" name="debtNotificationEmail" data-ng-model="notifyOptions.NotificationEmailAddress" />
                        </li>
                        <li class="notification-sms-option">
                            <label for="debt-notification-sms">Sms Number:</label>
                            <input type="tel" id="debt-notification-sms" name="debtNotificationSms" data-ng-model="notifyOptions.NotificationSmsNumber" />
                        </li>
                        <li class="frequency-interval">
                            <label for="debt-notification-interval">Reminder Interval</label>
                            <select id="debt-notification-interval" name="debtNotificationInterval" data-ng-model="notifyOptions.Interval.Frequency" data-ng-options="p.value as p.label for p in notificationInterval">
                            </select>
                        </li>
                        <li class="frequency-option">
                            <label for="debt-notification-frequency">Frequency Count</label>
                            <input id="debt-notification-frequency" name="debtNotificationFrequency" type="number" data-ng-mpdel="notifyOptions.Interval.FrequencyCount" />
                        </li>
                        <li class="frequency-option">
                            <label for="debt-notification-dayofweek">Reminder Interval</label>
                            <select id="debt-notification-dayofweek" name="debtNotificationDayofweek" data-ng-model="notifyOptions.Interval.WeekDay" data-ng-options="p.value as p.label for p in weekDays">
                            </select>
                        </li>
                    </ul>
                    <p>getting there, but this section is not complete</p>
                    <input type="submit" value="Submit" id="notification-options-submit" class="action-button" />
                </fieldset>
            </form>
        </div>
    </div>

</div>
