@model Glav.PayMeBack.Core.Domain.NotificationOptions

@using Glav.PayMeBack.Core.Domain

<div id="notification-options-modal" modal="editNotificationModal" options="opts" close="closeEditNotificationModal()">
    <div id="notification-options-container" class="dialog-container" data-ng-controller="notificationOptionsController">
        <h3>Notification Options</h3>
        <div id="notification-options-section">
            <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="notification-options-progress-indicator progress-indicator" data-ng-show="notifyProgress" />
            <form data-ng-submit="submitOptionsForm()" novalidate data-ng-hide="notifyProgress">
                <fieldset>
                    <ul>
                        <li>
                            <label for="debt-notification-method">Method</label>
                            <select id="debt-notification-method" name="debtNotificationMethod" data-ng-model="notifyOptions.NotificationMethod" data-ng-options="p.value as p.label for p in notificationOptions">
                            </select>
                        </li>
                        <li class="notification-email-option" data-ng-show="isEmailSelected()">
                            <label for="debt-notification-email">Email Address:</label>
                            <input type="email" id="debt-notification-email" data-ng-required="isEmailSelected()" name="debtNotificationEmail" data-ng-model="notifyOptions.NotificationEmailAddress" />
                        </li>
                        <li class="notification-sms-option" data-ng-show="isSmsSelected()">
                            <label for="debt-notification-sms">Sms Number:</label>
                            <input type="tel" id="debt-notification-sms" data-ng-required="isSmsSelected()" name="debtNotificationSms" data-ng-model="notifyOptions.NotificationSmsNumber" />
                        </li>
                        <li class="frequency-interval" data-ng-show="isSelectionMade()">
                            <label for="debt-notification-interval">Reminder Interval</label>
                            <select id="debt-notification-interval" name="debtNotificationInterval" data-ng-model="notifyOptions.Interval.Frequency" data-ng-options="p.value as p.label for p in notificationInterval">
                            </select>
                        </li>
                        <li class="frequency-option" data-ng-show="isSelectionMade() && isReminderIntervalSelectionMade()">
                            <label for="debt-notification-frequency">Frequency Count</label>
                            <input id="debt-notification-frequency" name="debtNotificationFrequency" type="number" data-ng-model="notifyOptions.Interval.FrequencyCount" />
                        </li>
                        <li class="frequency-option" data-ng-show="isSelectionMade() && isIntervalWeekly()">
                            <label for="debt-notification-dayofweek">Reminder Option</label>
                            <select id="debt-notification-dayofweek" name="debtNotificationDayofweek" data-ng-model="notifyOptions.Interval.WeekDay" data-ng-options="p.value as p.label for p in weekDays">
                            </select>
                        </li>
                        <li class="frequency-option" data-ng-show="isSelectionMade() && isReminderIntervalSelectionMade()">
                            <label for="debt-notification-time">Reminder time:</label>
                            <input id="debt-notification-time" name="debtNotificationTime" type="number" data-ng-model="notifyOptions.Interval.Time" />
                        </li>
                    </ul>
                    <p>getting there, but this section is not complete</p>
@*                    <input type="submit" value="Submit" id="notification-options-submit" class="action-button" />*@
                    <input type="submit" value="Submit" id="notification-options-submit" class="action-button" />

                </fieldset>
            </form>
            
        </div>
    </div>

</div>
