<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet_f03cd6d567c647c2bfab159105cc2bd3;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="PayMeBackEntities" connectionString="metadata=res://*/Data.PayMeBackDataStoreModel.csdl|res://*/Data.PayMeBackDataStoreModel.ssdl|res://*/Data.PayMeBackDataStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PayMeBack;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>