@model Glav.PayMeBack.Web.Models.BaseActionModel
@{
	var isSignedIn = Model != null && Model.IsAuthenticated;
}
<div class="header-menu">
	<ul>
		@if (!isSignedIn)
		  {
			<li><a href="#" class="credentials-link login">Login</a></li>
			<li><a href="#" class="credentials-link sign-up">Sign Up</a></li>
		  }
		  else
		  {
			<li><a href="#">Sign Out</a></li>
		  }
		<li><a href="#">Menu Two</a></li>
		<li><a href="#">Menu Three</a></li>
	</ul>
</div>
@if (!isSignedIn)
{
	Html.RenderPartial("_login");
}
