@model Glav.PayMeBack.Web.Models.BaseActionModel
@{
	var isSignedIn = (Model != null && Model.IsAuthenticated);
}


<div class="header-menu">
	<ul>
			<li class="hide-if-signed-in"><a href="#" class="credentials-link login">Login</a></li>
			<li class="hide-if-signed-in"><a href="#" class="credentials-link sign-up">Sign Up</a></li>
			<li class="show-if-signed-in">@Html.ActionLink("Sign Out","Logout","Membership")</li>
		<li><a href="#">Menu Two</a></li>
		<li>@Html.ActionLink("Contact Us","Index","Contact")</li>
	</ul>
</div>
@if (!isSignedIn)
{
    <input type="hidden" id="is-signed-in-state" value="false" />
    Html.RenderPartial("_login");
}
else
{
    <input type="hidden" id="is-signed-in-state" value="true" />
}
