<div id="credentials-dialog" class="hidden">  @*<-- Nyromodal will munge this element so cannot use it for styling*@
	<div id="credentials-container" class="login-dialog hidden dialog-container">
		<h3 class="signup">Sign up Details</h3>
		<h3 class="login">
			Login Details</h3>
        <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="login-progress-indicator progress-indicator hidden" />
		<fieldset id="credentials-form" class="dialog-form">
			<ul>
				<li>
					<label>
						Email:</label><input id="credentials-userId" type="text" /></li>
				<li>
					<label>
						Password:</label><input id="credentials-userPassword" type="password" />
				</li>
			</ul>
            <ul class="signup">
                <li>
                    <label>First Name:</label>
                    <input id="signup-firstname" type="text" />
                </li>
                <li>
                    <label>Surname:</label>
                    <input id="signup-surname" type="text" />
                </li>
            </ul>
			<input type="button" value="Submit" id="credentials-submit" class="action-button" />
			<input type="hidden" id="is-sign-up" value="false" />
		</fieldset>
	</div>
</div>
