@model Glav.PayMeBack.Core.Domain.UserPaymentPlan

@{
	ViewBag.Title = "Pay Me Back - Summary";
}

@section ScriptHead {
	<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/SummaryPageJs")" type="text/javascript"></script>
}

<section class="clear-fix action-menu">
    <ul>
        <li><a href="#" id="add-debt-link">Add Debt</a></li>
        <li><a href="#" id="remove-debt-link">Remove Debt</a></li>
        <li><a href="#" id="set-notification-link">Set Notification options for a Debt</a></li>
    </ul>
</section>

<section class="clear-fix" id="debt-summary-section">
	
	<h2>Summary of Debts</h2>

    <h3>Debts that are owed you</h3>
    @Html.Partial("_DebtSummaryList", Model.DebtsOwedToMe)

    <h3>Debts that you owe to others</h3>
    @Html.Partial("_DebtSummaryList", Model.DebtsOwedToOthers)

</section>

@Html.Partial("_AddDebt")