<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Saasu.SQLBuilder.Configuration.ConfigPovider" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Saasu.SQLBuilder.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <system.diagnostics>
    <switches>
      <add name="General" value="4" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <add name="myListener"
             type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             initializeData="Saasu.SQLBuilder.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <applicationSettings>
    <Saasu.SQLBuilder.Configuration.ConfigPovider>
      <setting name="PostScriptToRun" serializeAs="String">
        <value>PostBuild_Script.sql</value>
      </setting>
      <setting name="PreScriptToRun" serializeAs="String">
        <value>PreBuild_Script.sql</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>.</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="MainDatabaseName" serializeAs="String">
        <value>PayMeBack</value>
      </setting>
      <setting name="VersionTableName" serializeAs="String">
        <value>DBVersion</value>
      </setting>
      <setting name="ScriptDirectory" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ScriptSubstitutionsStaging" serializeAs="String">
        <value>PayMeBack=PayMeBack</value>
      </setting>
      <setting name="ScriptSubstitutionsRelease" serializeAs="String">
        <value>PayMeBack=PayMeBack</value>
      </setting>
      <setting name="PackageOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Branch" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseNameTokenReplacement" serializeAs="String">
        <value>$branch$</value>
      </setting>
      <setting name="RecreateDatabaseEachDeployment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScriptSubstitutionsCi" serializeAs="String">
        <value>PayMeBack=PayMeBack</value>
      </setting>
      <setting name="SupportingDatabaseNames" serializeAs="String">
        <value></value>
      </setting>
      <setting name="SqlBuildMode" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ScriptStatementTimeout" serializeAs="String">
        <value>6000</value>
      </setting>
    </Saasu.SQLBuilder.Configuration.ConfigPovider>
  </applicationSettings>
</configuration>
