@model Glav.PayMeBack.Web.Models.HomeActionModel

@{
    ViewBag.Title = "Pay Me Back";
}
<section class="clear-fix">
	
	<h2>So you helped someone out by lending them some money?</h2>

	<p>People often lend family or friends money when required, but at some point of time, you probably want to be paid back.
	Otherwise you would not be lending them money, you would be giving them money.</p>
	<p>With that in mind, this online application allows you to easily track what money is owed to you, record payments and optionally
		have notifications sent to relevent parties to remind them they should probably pay
		a little bit back on the debts they owe.</p>

	@if (!string.IsNullOrWhiteSpace(Model.InformationalMessage))
	{
		<section class="info-message">
			<p>@Model.InformationalMessage</p>
		</section>
	}

</section>