
<div id="edit-debt-modal" class="hidden">
    <div id="edit-debt-container" class="dialog-container">
        <h3>Edit / List debt details</h3>
        <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="edit-debt-progress-indicator progress-indicator hidden" />

        <fieldset class="dialog-form hidden">
            <ul>
                <li>
                    <input type="text" id="edit-debt-user-email" maxlength="50" />
                    <label for="edit-debt-amount">Owes you:</label>
                    <input type="number" id="edit-debt-amount" maxlength="10" class="input-money" />
                    <label>by</label>
                    <input type="date" id="edit-debt-end-date" maxlength="10" />
                </li>
                <li class="reason-notes">
                    <label for="edit-debt-reason">Reason?</label>
                    <textarea type="text" id="edit-debt-reason" maxlength="255"></textarea>
                    <label for="edit-debt-notes">Notes:</label>
                    <textarea type="text" id="edit-debt-notes" maxlength="255"></textarea>
                </li>
            </ul>
            <div id="edit-debt-payments-container">
                <div class="initial-payment">
                    <label>Initial Payment:</label><span id="edit-debt-initial-payment">0</span>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th class="date">Date Paid</th>
                            <th class="amount">Installment Amount</th>
                            <th class="type">Type of Payment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="date">1/1/2000</td>
                            <td class="amount">100</td>
                            <td class="type">Cash</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <input type="button" value="Submit" id="edit-debt-submit" class="action-button" />
        </fieldset>
    </div>
</div>

<<script type="template" id="installment-row-template">
    
    <tr>
        <td class="date">{{date}}</td>
        <td class="amount">{{amount}}</td>
        <td class="type">{{type}}</td>
    </tr>
</script>
