
<div id="edit-debt-modal" class="hidden">
    <div id="edit-debt-container" class="dialog-container">
        <h3>Edit / List debt details</h3>
        <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="edit-debt-progress-indicator progress-indicator hidden" />

        <fieldset class="dialog-form">
            <ul>
                <li>
                    <input type="text" id="edit-debt-user-email" maxlength="50" />
                    <label for="edit-debt-amount">Owes you:</label>
                    <input type="number" id="edit-debt-amount" maxlength="10" class="input-money" />
                    <label>by</label>
                    <input type="date" id="edit-debt-end-date" maxlength="10" />
                </li>
                <li class="reason-notes">
                    <label for="edit-debt-reason">Reason?</label>
                    <textarea type="text" id="edit-debt-reason" maxlength="255"></textarea>
                    <label for="edit-debt-notes">Notes:</label>
                    <textarea type="text" id="edit-debt-notes" maxlength="255"></textarea>
                </li>
            </ul>
			<input type="button" value="Submit" id="edit-debt-submit" class="action-button" />
        </fieldset>
    </div>
</div>
