<div id="edit-debt-modal" modal="editDebtModal" opts="opts" close="closeEditDebtModal()">
    <div id="edit-debt-container" class="dialog-container" data-ng-controller="editDebtController">
        <h3>Edit / List debt details</h3>
        <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="edit-debt-progress-indicator progress-indicator hidden" />

        <form data-ng-submit="submitEditForm()" name="editdebt">
            <fieldset class="dialog-form">
                <ul>
                    <li>
                        <label id="edit-debt-user-email">{{debt.UserWhoOwesDebt.EmailAddress}}</label>
                        <label for="edit-debt-amount">owes you:</label>
                        <input type="number" id="edit-debt-amount" pattern="\d{1,10}" name="editDebtAmount" maxlength="10" data-ng-model="debt.TotalAmountOwed" class="input-money" />
                        <label class="by-separator">by</label>
                        <input type="date" id="editDebtEndDate" date-valid="yyyy/mm/dd" placeholder="yyyy-mm-dd" @*pattern="\d{4}[/-]\d{1,2}[/-]\d{1,2}"*@ name="editDebtEndDate" maxlength="10" data-ng-model="debt.ExpectedEndDate" />
                    </li>
                    <li class="reason-notes">
                        <label for="edit-debt-reason">Reason?</label>
                        <textarea type="text" id="edit-debt-reason" maxlength="255" data-ng-model="debt.ReasonForDebt"></textarea>
                        <label for="edit-debt-notes">Notes:</label>
                        <textarea type="text" id="edit-debt-notes" maxlength="255" data-ng-model="debt.Notes"></textarea>
                    </li>
                </ul>
                <div id="edit-debt-payments-container">
                    <div class="initial-payment">
                        <label>Amount Remaining:</label><span id="edit-debt-amt-remaining">{{debt.AmountRemaining | currency:"$"}}</span>,
                    <label>Initial Payment:</label><span id="edit-debt-initial-payment">{{debt.InitialPayment | currency:"$"}}</span>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th class="date">Date Paid</th>
                                <th class="amount">Installment Amount</th>
                                <th class="type">Type of Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="installment in debt.PaymentInstallments">
                                <td class="date">{{installment.PaymentDate | date:'dd MMM yyyy'}}</td>
                                <td class="amount">{{installment.AmountPaid | currency:"$"}}</td>
                                <td class="type">{{getPaymentDescription(installment.TypeOfPayment)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <input type="submit" value="Submit" id="edit-debt-submit" class="action-button" />
            </fieldset>
        </form>
    </div>
</div>

