<div id="credentials-dialog" class="hidden">
    @*<-- Nyromodal will munge this element so cannot use it for styling*@
    <div id="credentials-container" class="login-dialog hidden dialog-container" data-ng-controller="authenticateController">
        <h3 class="signup">Sign up Details</h3>
        <h3 class="login">Login Details</h3>
        <img src="@Url.Content("~/Images/progress.gif")" alt="Progress" title="progress" class="login-progress-indicator progress-indicator hidden" />
        <form data-ng-submit="submitCredentials()" name="loginForm">
            <fieldset id="credentials-form" class="dialog-form">
                <ul>
                    <li>
                        <label>
                            Email:</label><input required id="credentials-userId" type="email" maxlength="100" data-ng-model="loginData.email" /></li>
                    <li>
                        <label>
                            Password:</label><input required id="credentials-userPassword" type="password" data-ng-model="loginData.password" />
                    </li>
                    <li data-ng-show="isSignupAction">
                        <label>
                            Retype Password:</label><input data-ng-required="isSignupAction" id="credentials-retypedPassword" type="password" data-ng-model="loginData.retypedPassword" password-match="credentials-userPassword" />
                    </li>
                </ul>
                <ul class="signup">
                    <li>
                        <label>First Name:</label>
                        <input id="signup-firstname" data-ng-required="isSignupAction" maxlength="128" type="text" data-ng-model="loginData.firstname" />
                    </li>
                    <li>
                        <label>Surname:</label>
                        <input id="signup-surname" data-ng-required="isSignupAction" type="text" maxlength="128" data-ng-model="loginData.surname" />
                    </li>
                </ul>
                <input type="submit" value="Submit" id="credentials-submit" class="action-button" />
                <input type="hidden" id="is-sign-up" value="false" data-ng-model="isSignupAction" />
            </fieldset>
        </form>
    </div>
</div>
