<fieldset>
	<legend>User Credentials</legend>
	<ul>
		<li><label>Email:</label><input id="userId" type="text" /></li>
		<li><label>Password:</label><input id="userPassword" type="password" /></li>
	</ul>
	<input type="button" value="Submit" />
</fieldset>